.toggle-switch {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  
  .toggle-switch-img {
    width: 60px; /* Adjust the size as needed */
    height: auto;
    transition: all 0.3s ease;  /* Smooth transition */
  }
  