.cta {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
  }
  
  .btn {
    background-color: transparent;
    color: var(--color-text);
    padding: 0.5rem 1rem;
    border: 2px solid var(--color-text);
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .btn:hover {
    background-color: var(--color-text);
    color: var(--color-bg);
  }